<!DOCTYPE html>
<html lang="fr">
<head>
   <%- include('../partials/head.ejs') %>
   <title>A Propos</title>
</head>
<body>
   <%- include('../partials/navbar.ejs') %>
   
   <h1>A propos</h1>
   
   <footer>
      <%- include('../partials/footer.ejs') %>
   </footer>
   
   <%- include('../partials/scripts.ejs') %>
</body>
</html>